############################
# ARCHIVOS DE VISUAL STUDIO
############################

.vs/
*.vcxproj.user
*.suo
*.user
*.cache
*.db
*.opendb
*.VC.db
*.VC.opendb
*.sdf
*.sqlite

############################
# CARPETAS DE COMPILACIÓN
############################

Debug/
Release/
x64/
x86/
bin/
tmp/
git add -f lib/
git commit -m "Añadir librería DLL necesaria para el proyecto"
git push

############################
# ARCHIVOS TEMPORALES
############################

*.obj
*.idb
*.pdb
*.ipch
*.tlog
*.log
*.ilk
*.pch
*.tmp
*.res
*.aps
*.ncb
*.sbr
*.tlh
*.tli

############################
# EJECUTABLES Y LIBRERÍAS
############################

*.exe
*.app
*.out
*.so
*.dylib
*.a
*.la
*.lai

############################
# OTROS
############################

*.manifest
*.lastbuildstate
