# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.cache
*.db
*.opendb
*.tlog
*.log
*.pdb
*.idb
*.ipch
*.obj
*.ilk
*.pch
*.tmp
*.sdf
*.sqlite
*.VC.db
*.VC.opendb

# Build
Debug/
Release/
x64/
x86/

# Otros temporales
*.exe
*.dll
*.manifest
*.res
*.aps
*.ncb
*.sbr
*.tlh
*.tli
